<!-- <label>Edad uno</label>
<input type="number" [(ngModel)]="edadUno">
<br>
<label>Edad dos</label>
<input type="number" [(ngModel)]="edadDos">
<br>
<div *ngIf="promedio">
  <label>Promedio</label>
  <input type="number" [(ngModel)]="promedio">
</div>
<br>
<div *ngIf="suma">
  <label>Suma   </label>
  <input type="number" [(ngModel)]="suma">
</div>
<br>
<button (click)="Calcular()">Calcular</button>
<button (click)="Limpiar()">Limpiar</button> -->

<app-cabecera></app-cabecera>
<router-outlet></router-outlet>